# Pandas Giriş

_Adapted from original materials by [Greg Reda](http://gregreda.com/)._

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display
# Switch to truncated view if too many columns
pd.set_option('max_columns', 50)
%matplotlib inline

## Veri Yapıları (Data Structures)
Pandas, Python için iki yeni veri yapısı sunar 
- **Series** (http://pandas.pydata.org/pandas-docs/dev/dsintro.html#series) 
- **DataFrame** (http://pandas.pydata.org/ pandas-docs / dev / dsintro.html # dataframe)

her ikisi de **NumPy** (http://www.numpy.org/) üzerine inşa edilmiştir (bu, hızlı olduğu anlamına gelir).

### Series

**Seriler**  Numpy dizileri baz alınarak oluşturuldukları için onlara çok benzerler. Seri, etiketli verilerden oluşan tek boyutlu bir veri yapısıdır. Etiket değerlerine ise indeks denir. Verinin kendisi sayılar, string veya başka Python objelerinden oluşabilir. Serileri oluşturmak için ise listeler, sıralı diziler ya da sözlükler kullanılabilir. 

  <img src="../image/pandas_seri.png">

In [3]:
type("hh")

str

In [4]:
# create a Series with an arbitrary list
s = pd.Series([7, 'Heisenberg', 3.14, -1789710578, 'Happy Eating!'])
s

0                7
1       Heisenberg
2             3.14
3      -1789710578
4    Happy Eating!
dtype: object

Alternatif olarak, Seri oluştururken kullanılacak bir dizin belirtebilirsiniz.

In [11]:
s = pd.Series([7, 'Heisenberg', 3.14, -1789710578, 'Happy Eating!',None],
              index=['A', 'B', 'C', 'D', 'E','F'])
s

A                7
B       Heisenberg
C             3.14
D      -1789710578
E    Happy Eating!
F             None
dtype: object

Seri yapıcısı (Constructors), sözlüğün anahtarlarını index olarak kullanarak bir sözlüğü de dönüştürebilir.

In [29]:
d = {'Chicago':1000, 'New York': 1300, 'Portland': 900, 'San Francisco': 1100,
     'Austin': 450, 'Boston': None}
cities = pd.Series(d)
cities

Chicago          1000.0
New York         1300.0
Portland          900.0
San Francisco    1100.0
Austin            450.0
Boston              NaN
dtype: float64


Dizinden belirli öğeleri seçmek için indexi kullanabilirsiniz

In [12]:
cities['Chicago']

1000.0

In [13]:
cities[['Chicago', 'Portland', 'San Francisco']]

Chicago          1000.0
Portland          900.0
San Francisco    1100.0
dtype: float64

Seçim için indekste karar yapısı kullanabilirsiniz.

In [15]:
cities[cities >1000]

New York         1300.0
San Francisco    1100.0
dtype: float64

Örneğin `cities<1000`bize seride True/False olarak geri döner

In [19]:
less_than_1000 = cities < 1000
print(less_than_1000)
print('\n')
print(cities[less_than_1000])

Chicago          False
New York         False
Portland          True
San Francisco    False
Austin            True
Boston           False
dtype: bool

KeyError: True

Seri veri aktarımı

In [20]:
# changing based on the index
print('Old value:', cities['Chicago'])
cities['Chicago'] = 1400
print('New value:', cities['Chicago'])

Old value: 1000.0
New value: 1400.0

In [21]:
cities

Chicago          1400.0
New York         1300.0
Portland          900.0
San Francisco    1100.0
Austin            450.0
Boston              NaN
dtype: float64

In [22]:
# changing values using boolean logic
print(cities[cities < 1000])
print('\n')
cities[cities < 1000] = 750

print(cities[cities < 1000])

Portland    900.0
Austin      450.0
dtype: float64


Portland    750.0
Austin      750.0
dtype: float64

Bir serin içersinde bir elemanın bulunup bulnmadığı denetlemek için **in** yapısı kullanılabilir

In [24]:
print('Seattle' in cities)
print('San Francisco' in cities)
cities

False
True

Chicago          1400.0
New York         1300.0
Portland          750.0
San Francisco    1100.0
Austin            750.0
Boston              NaN
dtype: float64

Matematiksel işlemler skaler ve fonksiyonlar kullanılarak yapılabilir.

In [34]:
# divide city values by 3
cities2=cities+1000
print(cities)
print("\n")
print(cities2)

Chicago          1000.0
New York         1300.0
Portland          900.0
San Francisco    1100.0
Austin            450.0
Boston              NaN
dtype: float64


Chicago          2000.0
New York         2300.0
Portland         1900.0
San Francisco    2100.0
Austin           1450.0
Boston              NaN
dtype: float64

In [35]:
# square city values
np.square(cities)

Chicago          1000000.0
New York         1690000.0
Portland          810000.0
San Francisco    1210000.0
Austin            202500.0
Boston                 NaN
dtype: float64

You can add two Series together, which returns a union of the two Series with the addition occurring on the shared index values.  Values on either Series that did not have a shared index will produce a NULL/NaN (not a number).

In [36]:
print(cities[['Chicago', 'New York', 'Portland']])
print('\n')
print(cities[['Austin', 'New York']])
print('\n')
print(cities[['Chicago', 'New York', 'Portland']] + cities[['Austin', 'New York']])

Chicago     1000.0
New York    1300.0
Portland     900.0
dtype: float64


Austin       450.0
New York    1300.0
dtype: float64


Austin         NaN
Chicago        NaN
New York    2600.0
Portland       NaN
dtype: float64

Notice that because Austin, Chicago, and Portland were not found in both Series, they were returned with NULL/NaN values.

NULL checking can be performed with `isnull` and `notnull`.

In [43]:
# returns a boolean series indicating which values aren't NULL
print(cities)
cities.notnull()
doluolan=cities[cities.notnull()]

type(doluolan)

Chicago          1000.0
New York         1300.0
Portland          900.0
San Francisco    1100.0
Austin            450.0
Boston              NaN
dtype: float64

pandas.core.series.Series

In [38]:
# use boolean logic to grab the NULL cities
print(cities.isnull())
print('\n')
print(cities[cities.isnull()])

Chicago          False
New York         False
Portland         False
San Francisco    False
Austin           False
Boston            True
dtype: bool


Boston   NaN
dtype: float64

## DataFrame

DataFrameler, Türkçesiyle ‘Veri Çerçeveleri’ Pandas kütüphanesinde asıl olayın döndüğü kısımdır ve pek çok işlemi bu kısımda yapacağız.
Burada sütunlar ‘Column’ ya da ‘Feature’ olarak satırlar ise ‘row’ ya da ‘ indeks’ olarak adlandırılır.

A DataFrame is a tablular data structure comprised of rows and columns, akin to a spreadsheet, database table, or R's data.frame object. You can also think of a DataFrame as a group of Series objects that share an index (the column names).

In [87]:
import numpy as np 

from numpy.random import randn,beta


import numpy.random as rd





df = pd.DataFrame(data = randn(5,5), index = ['A','B','C','D','E'], 
                  columns = ['Columns1','Columns2','Columns3','Columns4','Columns5'])

df

   Columns1  Columns2  Columns3  Columns4  Columns5
A -0.645768 -0.576643  0.790477  0.652804 -1.876943
B  0.225118  1.465250  0.483300 -0.604908 -1.303546
C  0.310189  0.137046 -0.073062  0.201489  0.015567
D  0.337772  0.101558 -1.320988 -1.011282  0.018962
E  0.788941  0.314658 -1.344822 -1.662346  0.321060

In [86]:
rd.

array([[-1.88249153, -0.08710377, -0.97638061,  0.41809234,  1.35302853,
        -0.20854712],
       [-0.6588459 , -1.14983089, -1.57536226,  0.52108855,  0.74979427,
         0.52231075],
       [-0.01899511,  0.43109794,  0.71211001, -0.94437534, -2.10080377,
         0.08753558],
       [-0.2156277 , -0.71648972, -1.15008988,  0.70992971,  0.44354185,
        -0.47090919],
       [ 1.41320086,  0.21883051,  0.90943328,  0.75725936,  1.39032662,
        -0.07579377],
       [ 0.55235862, -1.30006153, -0.69279477, -1.63229826, -0.70295089,
         0.64837241]])

### Reading Data

To create a DataFrame out of common Python data structures, we can pass a dictionary of lists to the DataFrame constructor.

Using the `columns` parameter allows us to tell the constructor how we'd like the columns ordered. By default, the DataFrame constructor will order the columns alphabetically (though this isn't the case when reading from a file - more on that next).

In [50]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
football = pd.DataFrame(data, columns=['year', 'team', 'wins', 'losses'])
football

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [49]:
dict = {"country": ["Türkiye", "Rusya", "Hindistan", "Çin", "Afrika"],
       "capital": ["İstanbul", "Moskova", "Londra", "Paris", "Şili"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }
 
import pandas as pd
brics = pd.DataFrame(dict)
brics

     country   capital    area  population
0    Türkiye  İstanbul   8.516      200.40
1      Rusya   Moskova  17.100      143.50
2  Hindistan    Londra   3.286     1252.00
3        Çin     Paris   9.597     1357.00
4     Afrika      Şili   1.221       52.98

Çoğu zaman başka dosyalardan veri okuması yaparak

**CSV**

Reading a CSV is as simple as calling the *read_csv* function. By default, the *read_csv* function expects the column separator to be a comma, but you can change that using the `sep` parameter.

In [51]:
%cd ./data

/Users/mgezer/cloud/googledrive_muratgezeristanbuledu.tr/ders/2020-21/python/veribilimi/data

In [54]:
!ls -lrt

total 3664
-rw-------   1 mgezer  staff      525 Sep 19  2016 populations.txt
-rw-------   1 mgezer  staff     2705 Sep 19  2016 peyton-passing-TDs-2012.csv
-rw-------   1 mgezer  staff     2311 Sep 19  2016 mariano-rivera.csv
-rw-------   1 mgezer  staff  1862313 Sep 19  2016 city-of-chicago-salaries.csv
drwxr-xr-x  25 mgezer  staff      800 Dec 15 08:17 ml-100k

In [55]:
# Source: baseball-reference.com/players/r/riverma01.shtml
!head -n 5 mariano-rivera.csv

Year,Age,Tm,Lg,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,ERA+,WHIP,H/9,HR/9,BB/9,SO/9,SO/BB,Awards
1995,25,NYY,AL,5,3,.625,5.51,19,10,2,0,0,0,67.0,71,43,41,11,30,0,51,2,1,0,301,84,1.507,9.5,1.5,4.0,6.9,1.70,
1996,26,NYY,AL,8,3,.727,2.09,61,0,14,0,0,5,107.2,73,25,25,1,34,3,130,2,0,1,425,240,0.994,6.1,0.1,2.8,10.9,3.82,CYA-3MVP-12
1997,27,NYY,AL,6,4,.600,1.88,66,0,56,0,0,43,71.2,65,17,15,5,20,6,68,0,0,2,301,239,1.186,8.2,0.6,2.5,8.5,3.40,ASMVP-25
1998,28,NYY,AL,3,0,1.000,1.91,54,0,49,0,0,36,61.1,48,13,13,3,17,1,36,1,0,0,246,233,1.060,7.0,0.4,2.5,5.3,2.12,

In [56]:
from_csv = pd.read_csv('mariano-rivera.csv')
from_csv.head()

,Year,Age,Tm,Lg,W,L,W-L%,ERA,G,GS,GF,CG,SHO,SV,IP,H,R,ER,HR,BB,IBB,SO,HBP,BK,WP,BF,ERA+,WHIP,H/9,HR/9,BB/9,SO/9,SO/BB,Awards
0,1995,25,NYY,AL,5,3,0.625,5.51,19,10,2,0,0,0,67.0,71,43,41,11,30,0,51,2,1,0,301,84,1.507,9.5,1.5,4.0,6.9,1.70,NaN
1,1996,26,NYY,AL,8,3,0.727,2.09,61,0,14,0,0,5,107.2,73,25,25,1,34,3,130,2,0,1,425,240,0.994,6.1,0.1,2.8,10.9,3.82,CYA-3MVP-12
2,1997,27,NYY,AL,6,4,0.600,1.88,66,0,56,0,0,43,71.2,65,17,15,5,20,6,68,0,0,2,301,239,1.186,8.2,0.6,2.5,8.5,3.40,ASMVP-25
3,1998,28,NYY,AL,3,0,1.000,1.91,54,0,49,0,0,36,61.1,48,13,13,3,17,1,36,1,0,0,246,233,1.060,7.0,0.4,2.5,5.3,2.12,NaN
4,1999,29,NYY,AL,4,3,0.571,1.83,66,0,63,0,0,45,69.0,43,15,14,2,18,3,52,3,1,2,268,257,0.884,5.6,0.3,2.3,6.8,2.89,ASCYA-3MVP-14

Our file had headers, which the function inferred upon reading in the file. Had we wanted to be more explicit, we could have passed `header=None` to the function along with a list of column names to use:

In [57]:
# Source: pro-football-reference.com/players/M/MannPe00/touchdowns/passing/2012/
!head -n 5 peyton-passing-TDs-2012.csv

1,1,2012-09-09,DEN,,PIT,W 31-19,3,71,Demaryius Thomas,Trail 7-13,Lead 14-13*
2,1,2012-09-09,DEN,,PIT,W 31-19,4,1,Jacob Tamme,Trail 14-19,Lead 22-19*
3,2,2012-09-17,DEN,@,ATL,L 21-27,2,17,Demaryius Thomas,Trail 0-20,Trail 7-20
4,3,2012-09-23,DEN,,HOU,L 25-31,4,38,Brandon Stokley,Trail 11-31,Trail 18-31
5,3,2012-09-23,DEN,,HOU,L 25-31,4,6,Joel Dreessen,Trail 18-31,Trail 25-31

In [58]:
cols = ['num', 'game', 'date', 'team', 'home_away', 'opponent',
        'result', 'quarter', 'distance', 'receiver', 'score_before',
        'score_after']
no_headers = pd.read_csv('peyton-passing-TDs-2012.csv', sep=',', header=None,
                         names=cols)
no_headers.head()

,num,game,date,team,home_away,opponent,result,quarter,distance,receiver,score_before,score_after
0,1,1,2012-09-09,DEN,NaN,PIT,W 31-19,3,71,Demaryius Thomas,Trail 7-13,Lead 14-13*
1,2,1,2012-09-09,DEN,NaN,PIT,W 31-19,4,1,Jacob Tamme,Trail 14-19,Lead 22-19*
2,3,2,2012-09-17,DEN,@,ATL,L 21-27,2,17,Demaryius Thomas,Trail 0-20,Trail 7-20
3,4,3,2012-09-23,DEN,NaN,HOU,L 25-31,4,38,Brandon Stokley,Trail 11-31,Trail 18-31
4,5,3,2012-09-23,DEN,NaN,HOU,L 25-31,4,6,Joel Dreessen,Trail 18-31,Trail 25-31

pandas various *reader* functions have many parameters allowing you to do things like skipping lines of the file, parsing dates, or specifying how to handle NA/NULL datapoints.

There's also a set of *writer* functions for writing to a variety of formats (CSVs, HTML tables, JSON).  They function exactly as you'd expect and are typically called `to_format`:

```python
my_dataframe.to_csv('path_to_file.csv')
```

[Take a look at the IO documentation](http://pandas.pydata.org/pandas-docs/stable/io.html) to familiarize yourself with file reading/writing functionality.

In [59]:
# You can also get help by appending ? to any command
#pd.read_csv?

**_Ödev_**
* Örnek bir CSV dosyası için web'de arama yapın (üstbilgilerle / başlıksız, iki nokta üst üste ile ayrılmış vb.), Kaydedin ve pandas DataFrame'e yükleyin

**PostgreSQL Database** 

pandas also has some support for reading/writing DataFrames directly from/to a database [[docs](http://pandas.pydata.org/pandas-docs/stable/io.html#sql-queries)].  You'll typically just need to pass a connection object to the `read_sql` or `to_sql` functions within the `pandas.io` module.

Note that `to_sql` executes as a series of INSERT INTO statements and thus trades speed for simplicity. If you're writing a large DataFrame to a database, it might be quicker to write the DataFrame to CSV and load that directly using the database's file import arguments.

In [60]:
from sqlalchemy import create_engine

# Psycopg is the most popular PostgreSQL adapter for the Python programming language. 
# Its main features are the complete implementation of the Python DB API 2.0 specification and the thread safety.

In [61]:
!conda install -c anaconda sqlalchemy -y
!conda install -c anaconda psycopg2 -y

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Substitute the variables below with the access credentials provided by David last Friday.

In [62]:
engine = create_engine('postgres://drafbwkx:soakY24fY5Xw02CNMAcmPhn8R5sPao0p@otto.db.elephantsql.com:5432/drafbwkx')

In [64]:
films = pd.read_sql_query('SELECT * FROM "public"."spatial_ref_sys" LIMIT 10', con=engine)

In [65]:
films.head()

,srid,auth_name,auth_srid,srtext,proj4text
0,3819,EPSG,3819,"GEOGCS[""HD1909"",DATUM[""Hungarian_Datum_1909"",S...","+proj=longlat +ellps=bessel +towgs84=595.48,12..."
1,3821,EPSG,3821,"GEOGCS[""TWD67"",DATUM[""Taiwan_Datum_1967"",SPHER...",+proj=longlat +ellps=aust_SA +no_defs
2,3824,EPSG,3824,"GEOGCS[""TWD97"",DATUM[""Taiwan_Datum_1997"",SPHER...","+proj=longlat +ellps=GRS80 +towgs84=0,0,0,0,0,..."
3,3889,EPSG,3889,"GEOGCS[""IGRS"",DATUM[""Iraqi_Geospatial_Referenc...","+proj=longlat +ellps=GRS80 +towgs84=0,0,0,0,0,..."
4,3906,EPSG,3906,"GEOGCS[""MGI 1901"",DATUM[""MGI_1901"",SPHEROID[""B...","+proj=longlat +ellps=bessel +towgs84=682,-203,..."

**Clipboard**

While the results of a query can be read directly into a DataFrame, I prefer to read the results directly from the clipboard. I'm often tweaking queries in my SQL client ([Sequel Pro](http://www.sequelpro.com/)), so I would rather see the results *before* I read it into pandas. Once I'm confident I have the data I want, then I'll read it into a DataFrame.

This works just as well with any type of delimited data you've copied to your clipboard. The function does a good job of inferring the delimiter, but you can also use the `sep` parameter to be explicit.

[Hank Aaron](http://www.baseball-reference.com/players/a/aaronha01.shtml)

![hank-aaron-stats-screenshot](http://i.imgur.com/xiySJ2e.png)

In [72]:
hank = pd.read_clipboard(header=None)
hank.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,1,NaN,Alanyaspor Alanyaspor,12,8,2,2,22,7,15,26,G G M M G
1,2,NaN,Galatasaray Galatasaray,11,7,2,2,19,7,12,23,G G B G G
2,3,NaN,Fenerbahçe Fenerbahçe,12,7,2,3,22,16,6,23,M G M G M
3,4,NaN,Beşiktaş Beşiktaş,11,6,1,4,21,19,2,19,M G G G M
4,5,NaN,Göztepe Göztepe,12,4,6,2,19,13,6,18,G G B G M

In [70]:
pd.read_clipboard?

**URL**

With `read_table`, we can also read directly from a URL.

Let's use the [best sandwiches data](https://raw.github.com/gjreda/best-sandwiches/master/data/best-sandwiches-geocode.tsv) that I [wrote about scraping](http://www.gregreda.com/2013/05/06/more-web-scraping-with-python/) a while back.

In [73]:
url = 'https://raw.github.com/gjreda/best-sandwiches/master/data/best-sandwiches-geocode.tsv'

# fetch the text from the URL and read it into a DataFrame
from_url = pd.read_table(url, sep='\t')
from_url.head()

,rank,sandwich,restaurant,description,price,address,city,phone,website,full_address,formatted_address,lat,lng
0,1,BLT,Old Oak Tap,The B is applewood smoked&mdash;nice and snapp...,$10,2109 W. Chicago Ave.,Chicago,773-772-0406,theoldoaktap.com,"2109 W. Chicago Ave., Chicago","2109 West Chicago Avenue, Chicago, IL 60622, USA",41.895734,-87.679960
1,2,Fried Bologna,Au Cheval,Thought your bologna-eating days had retired w...,$9,800 W. Randolph St.,Chicago,312-929-4580,aucheval.tumblr.com,"800 W. Randolph St., Chicago","800 West Randolph Street, Chicago, IL 60607, USA",41.884672,-87.647754
2,3,Woodland Mushroom,Xoco,Leave it to Rick Bayless and crew to come up w...,$9.50.,445 N. Clark St.,Chicago,312-334-3688,rickbayless.com,"445 N. Clark St., Chicago","445 North Clark Street, Chicago, IL 60654, USA",41.890602,-87.630925
3,4,Roast Beef,Al&rsquo;s Deli,"The Francophile brothers behind this deli, whi...",$9.40.,914 Noyes St.,Evanston,NaN,alsdeli.net,"914 Noyes St., Evanston","914 Noyes Street, Evanston, IL 60201, USA",42.058442,-87.684425
4,5,PB&amp;L,Publican Qualty Meats,"When this place opened in February, it quickly...",$10,825 W. Fulton Mkt.,Chicago,312-445-8977,publicanqualitymeats.com,"825 W. Fulton Mkt., Chicago","825 West Fulton Market, Chicago, IL 60607, USA",41.886637,-87.648553

**Google Analytics**

pandas also has some integration with the Google Analytics API, though there is some setup required. I won't be covering it, but you can read more about it [here](http://blog.yhathq.com/posts/pandas-google-analytics.html) and [here](http://quantabee.wordpress.com/2012/12/17/google-analytics-pandas/).

In [74]:
brics

     country   capital    area  population
0    Türkiye  İstanbul   8.516      200.40
1      Rusya   Moskova  17.100      143.50
2  Hindistan    Londra   3.286     1252.00
3        Çin     Paris   9.597     1357.00
4     Afrika      Şili   1.221       52.98

In [78]:
brics["country"]

0      Türkiye
1        Rusya
2    Hindistan
3          Çin
4       Afrika
Name: country, dtype: object